# composer dir and files
vendor

# Don't commit composer.phar, or the .phar our build tool generates
*.phar

# IDE
## Eclipse
.buildpath
.project
.settings

## VI
*.swp

## VSCode
.vscode

# storage
storage

# settings
.env

# this is the code coverage generated when running phpunit.
tests/log

# Cache
.phplint-cache

*.csv
